body{
    background-color: #8FD976;
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
}

/* nav_bar */
.nav_bar img{
    height: 3em;
    width: 3em;
    display: inline;
    margin-top: 5px;
    margin-left: 10px;
}
.nav_bar{
    background-color: #5AC11D;
    width: 100%;
    margin-top: 0px;
    height: 60px;
}
.nav_bar li{
    display: inline;
    float: right;
    padding-right: 80px;
    padding-top: 6px;
    margin-top: 20px;
}
/* nav_bar */

/* products */
.card{
    background-color: white;
    width: 35%;
    height: 450px;
}
.card img{
    margin-left: 50px;
    margin-top: 50px;
}
.item_description{
    float: right;
    margin-right: 150px;
    margin-top: 50px;
}
.pricetag{
    margin-left: 50px;
}
#shop{
    float: right;
    margin-right: 100px;
    margin-top: -70px;
    height: 50px;
    width: 150px;
    background-color: #5AC11D;
    border: 1px solid #5AC11D;
}