
  
body{
    background-color: #8FD976;
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
}

/* nav_bar */
.nav_bar img{
    height: 3em;
    width: 3em;
    display: inline;
    margin-top: 5px;
    margin-left: 10px;
}
.nav_bar{
    background-color: #5AC11D;
    width: 100%;
    margin-top: 0px;
    height: 60px;
}
.nav_bar li{
    display: inline;
    float: right;
    padding-right: 80px;
    padding-top: 6px;
    margin-top: 20px;
}
/* nav_bar */

/* shop */
.dashimage{
    border: 1px solid red;
    background-color: white;
    height: 40%;
    width: 40%;
}
.thumbnail{
    border: 2px solid red;
    width: 45%;
    display: flex;
}
.pricetag{
    border: 2px solid red;
    background-color: white;
    width: 20%;
}
.vendors-card{
    border: 2px solid red;
    background-color: white;
    width: 20%;
}
.item_description{
    border: 2px solid red;
    background-color: white;
    width: 20%;
}
